.divLotto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}
.d1 , .d2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sp0, .sp1, .sp2, .sp3, .sp4 {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.spp {
  color: black;
  font-size: xx-large;
}
.sp0 {
  background-color: rgba(209, 90, 90, 0.822);
}
.sp1 {
  background-color: rgb(234, 243, 108);
}
.sp2 {
  background-color: rgb(97, 172, 223);
}
.sp3 {
  background-color: rgb(128, 87, 224);
}
.sp4 {
  background-color: rgb(212, 83, 184);
}
.bt{
  background-color: gold;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: navy;
}
.bt:hover{
  background-color: rgb(103, 103, 204);
}